<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdelsordo.stepquest">

    <uses-permission android:name="android.Manifest.permission.CAMERA" />
    <uses-permission
        android:name="android.Manifest.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.Manifest.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mdelsordo.stepquest.ui.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mdelsordo.stepquest.ui.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="com.mdelsordo.stepquest.ui.CharacterCreationActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.mdelsordo.stepquest.services.PedometerService"
            android:exported="false"
            android:stopWithTask="true" />

        <activity android:name="com.mdelsordo.stepquest.ui.LevelUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.mdelsordo.stepquest.ui.ShopActivity"
            android:parentActivityName="com.mdelsordo.stepquest.ui.MainActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.mdelsordo.stepquest.services.BoostTimerService"
            android:exported="false" />

        <service android:name="com.mdelsordo.stepquest.services.MusicManagerService"
            android:stopWithTask="true"/>

        <activity android:name="com.mdelsordo.stepquest.ui.AdventureLogActivity"
            android:parentActivityName="com.mdelsordo.stepquest.ui.MainActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>